.App {
	text-align: center;
	background-image: url("../public/bg.png");
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background: #c4c4c4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55vh;
	width: 40vw;
	flex-direction: column;
	border-radius: 10px;
}

.loginContainer h1 {
	color: black;
}

.loginContainer .searchField {
	margin: 1.5rem;
}

.login .disabledButton {
	background: #0000003d;
	color: white;
}

.userContainer .userData {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	width: 25vw;
	height: 25vh;
	border-radius: 10px;
	padding: 15px;
	margin: 10px;
}
